<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="HTML_head">
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8"></meta>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<meta name="description" content=""></meta>
		<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development"></meta>
		<meta name="author" content="Luca"></meta>
	
		<title>Getting Started: Serving Web Content</title>
	    
	    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"></link>
		
	</head>

	<body></body>
    
</html>